@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

* {
  font-family: 'Lato', sans-serif;
}


.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #ece8e2;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}

/* NAVBAR */
#navbar {
  border-bottom: 1px solid #7a7a7a;
}

#navbar a {
  color: #FFFF;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar .active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

/* SLIDER */
#slider {
  margin-top: 8em;
  margin-bottom: 1em;
}

#slider .carousel-caption {
  bottom: 3em;
}

#slider .carousel-caption h5 {
  font-size: 2.5em;
  text-shadow: #000 2px 2px;
}

.btn {
  border-radius: 0;
}

#slider .btn {
  padding: 0.3em 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0.7;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #111;
  font-size: 3em;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000;
}

@media (min-width: 768px) {
  #slider .carousel-caption {
    bottom: 15em;
  }
  #slider .carousel-caption h5 {
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }
  #slider .btn {
    padding: 0.6em 1.6em;
    font-size: 1.2em;
    margin-top: 1em;
  }
  .carousel-indicators {
    bottom: 7em;
  }
}

/* MINI BANNERS */
#mini-banners {
  margin-bottom: 4em;
}

#mini-banners .card {
  padding: 2em 0.3em;
  border-radius: 0;
}

#mini-banners i {
  font-size: 4em;
}

#mini-banners .card-title {
  margin-bottom: 1.5em;
}

#mini-banners .btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

#mini-banners .card {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  #mini-banners {
    margin-top: -4em;
  }
}

/* DESTAQUES */
#featured-container {
  margin-bottom: 4em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title:before {
  width: 75px;
  border-top: 4px solid #7a7a7a;
  content: '';
  position: absolute;
  bottom: 2em;
}

#featured-images {
  margin-top: 2em;
}

#featured-images .col-md-4 {
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content {
  opacity: 0.8;
}

#featured-images .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.4em;
  }

  .title:before {
    bottom: 1.5em;
  }

  #featured-images .banner-content {
    opacity: 0;
  }
}

/* INFO */
#info-content {
  margin-bottom: 4em;
  padding: 4em 1em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-banner {
  align-items: center;
  display: flex;
  margin-bottom: 2.5em;
}

#info-numbers h3 {
  font-size: 3em;
}

@media (min-width: 768px) {
  #info-content {
    padding: 3.5em;
  }
}

/* FOOTER TOP */
#footer {
  padding: 3em 2em;
}

#footer-top {
  margin-bottom: 2em;
}

#footer-top,
#footer-top i {
  color: #fff;
}

#social-icons {
  text-align: right;
}

#social-icons i {
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}

#social-icons i:hover {
  color: #7a7a7a;
}

/* FOOTER DETAILS */
#footer-details {
  margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4 {
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input {
  border-radius: 0;
  border: none;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #fff;
}

/* FOOTER BOTTOM */
#footer-bottom {
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i {
  color: #e61e10;
}

@media (min-width: 768px) {
  #news-container {
    padding-right: 2em;
  }

  #contact-container {
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }

  #links-container {
    padding-left: 2em;
  }
}

.imgLoja{
  content:url(../img/Home.png);
}

.loja {
  display: flex;
}

.imgpagto{
  content:url(../img/pagto.png);
}

.imgCarro1{
  content:url(../img/banner-1b.jpg);
  max-width: 83%;
  
}

.imgCarro2{
  content:url(../img/banner-2b.jpg);
  max-width: 83%;
}

.imgCarro3{
  content:url(../img/banner-3b.jpg);
  max-width: 83%;
}

/* header nav
{
    background-image: url(../IMG/Fundo.png); 
    background-size: cover;
} */

body{
  background-color: rgba(0, 0, 0, 0.123);
}

  .fundo{
    background-color: rgba(0, 0, 0, 0.123);
  }

  /*  ***8 */

  #colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/overlay.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../img/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../img/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../img/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../img/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
    .cboxIframe{background:#fff;}
    #cboxError{padding:50px; border:1px solid #ccc;}
    #cboxLoadedContent{margin-bottom:28px;}
    #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
    #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
    #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
    #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
    #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; } 
    #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
    #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
    #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
    #cboxPrevious:hover{background-position:-75px -25px;}
    #cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
    #cboxNext:hover{background-position:-50px -25px;}
    #cboxClose{position:absolute; bottom:0; right:0; background:url(../img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
    #cboxClose:hover{background-position:-25px -25px;} 

    .clearfix::after {
      display: block;
      clear: both;
      content: "";
    }
    
    .page-section {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    
    .intro {
      position: relative;
    }
    
    @media (min-width: 992px) {
      .intro .intro-img {
        width: 75%;
        float: right;
      }
      .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
      }
      .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
    @media (min-width: 1200px) {
      .intro .intro-text {
        width: 45%;
      }
    }
    
    @media (min-width: 992px) {
      .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem;
      }
      .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw;
      }
      .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw;
      }
    }
    
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
    
    .rounded {
      border-radius: 0.25rem !important;
    }